{% extends 'base.html' %}

{% load editorjs %}

{% block content %}        
        <div class="container py-5">
            <div class="card">
                <div class="card-header">
                    <h2>
                        {{ object.title }}
                        <a class="btn btn-primary ms-3" style="float: right" href="{% url 'edit_post' object.id %}">Edit</a>
                        <a class="btn btn-danger" style="float: right" href="{% url 'delete_post' object.id %}">Delete</a>
                    </h2>
                </div>
                <div class="card-body">
                    <div class="editorjs-style">
                        {{ object.body|editorjs }}
                    </div>
                </div>
            </div>
        </div>


{% endblock %}