{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card w-100">
                <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.desc|safe }}</p>
                    <a href="{% url 'detail' post.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
