.editorjs-style * {
    margin-bottom: 15px;
    /* overflow: auto; */
}

.editorjs-style img {
    width: 100%;
    height: auto;
}

.editorjs-style blockquote {
    margin: 10px 20px;
    padding: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -.32px;
    color: #333;
    border-left: 2px solid #44494d;
    background: #f4c14826;
    display: flex;
}

.editorjs-style blockquote::before {
    content: "❝";
    color: gray;
    font-size: 30px;
    margin-right: 10px;
}

/* .editorjs-style blockquote cite {
    display: block;
    margin: 10px 0;
} */

.editorjs-style a {
    color: #000
}

.editorjs-style .inline-code {
    padding: 5px 10px;
    border-radius: 10px;
    background: #f4c14826;
}

.editorjs-style code {
    background: #fff3cd;
}

.editorjs-style table {
    width: 100%;
    height: auto;
}

.editorjs-style table tr {
    border-bottom: 1px solid #000;
}

.editorjs-style table tr td {
    padding: 10px;
}

.editorjs-style .alert {
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    background: #fff3cd;
    padding: 10px 16px 0px 16px !important;
}

.editorjs-style .alert .alert__title {
    font-size: 19px;
    font-weight: 700;
    position: relative;
}

.editorjs-style .alert .alert__title:after {
    right: 0;
    content: "⬇️";
    position: absolute;
}

.editorjs-style .alert .alert__message {
    display: none;
    font-size: 17px;
    font-weight: 500;
}

.editorjs-style .alert:focus .alert__message {
    display: block;
}

.editorjs-style .delimiter {
    display: flex;
    margin: 20px 0;
    font-size: 55px;
    align-items: center;
    justify-content: center;
}

.editorjs-style .delimiter::before {
    content: "***";
}

@media (max-width: 380px) {
    .editorjs-style table tbody {
        width: 420px;
        /* overflow: auto !important; */
    }
}


/* .editorjs-style blockquote {
    width: 100%;
    height: 150px;
    padding: 20px;
    display: block;
    position: relative;
    background: #eee;
    border-radius: 10px;
    margin-bottom: 45px;
}

.editorjs-style blockquote cite {
    right: 0;
    width: 100%;
    height: 45px;
    bottom: -45px;
    display: flex;
    background: #ccc;
    padding-right: 20px;
    position: absolute;
    align-items: center;
    justify-content: flex-end;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
} */
